<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <beans profile="jpa,datajpa">
        <bean id="jpaPropertyMapOverride" parent="jpaPropertyMap"
              class="org.springframework.beans.factory.config.MapFactoryBean">
            <property name="sourceMap">
                <map merge="true">
                    <entry key="#{T(org.hibernate.cfg.AvailableSettings).USE_SECOND_LEVEL_CACHE}" value="false"/>
                </map>
            </property>
        </bean>

        <bean id="ehCacheManager" class="org.springframework.cache.support.NoOpCacheManager"/>
    </beans>
</beans>